@font-face {
  font-family: "FtPilKahol2";
  src: url("FtPilKahol2.ttf") format("truetype");
}
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-image: url("./images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  text-align: center !important;
}

@-webkit-keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes anim {
  0% {
    box-shadow: 0px 0px 20px #E4D9C4;
  }
  50% {
    box-shadow: 0px 0px 30px #fce2b3;
  }
  75% {
    box-shadow: 0px 0px 40px #ffd27e;
  }
  100% {
    box-shadow: 0px 0px 30px #fce2b3;
  }
}
@keyframes anim {
  0% {
    box-shadow: 0px 0px 20px #E4D9C4;
  }
  50% {
    box-shadow: 0px 0px 30px #fce2b3;
  }
  75% {
    box-shadow: 0px 0px 40px #ffd27e;
  }
  100% {
    box-shadow: 0px 0px 30px #fce2b3;
  }
}
@-webkit-keyframes anim2 {
  0% {
    box-shadow: 1px 1px 30px #E4D9C4;
  }
  50% {
    box-shadow: 2px 2px 40px #fce2b3;
  }
  75% {
    box-shadow: 3px 3px 50px #2A170D;
  }
  100% {
    box-shadow: 2px 2px 30px #fce2b3;
  }
}
@keyframes anim2 {
  0% {
    box-shadow: 1px 1px 30px #E4D9C4;
  }
  50% {
    box-shadow: 2px 2px 40px #fce2b3;
  }
  75% {
    box-shadow: 3px 3px 50px #2A170D;
  }
  100% {
    box-shadow: 2px 2px 30px #fce2b3;
  }
}
@-webkit-keyframes move {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes move {
  0% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveUpSizeInc {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(20%);
  }
}
@keyframes moveUpSizeInc {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(20%);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.8);
  }
}
@-webkit-keyframes growUpandMove {
  0% {
    transform: scale(0.5) translateX(-10%);
  }
  50% {
    transform: scale(0.7) translateX(-15%);
  }
  100% {
    transform: scale(0.9) translateX(-20%);
  }
}
@keyframes growUpandMove {
  0% {
    transform: scale(0.5) translateX(-10%);
  }
  50% {
    transform: scale(0.7) translateX(-15%);
  }
  100% {
    transform: scale(0.9) translateX(-20%);
  }
}
#intro-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AA574D;
  color: white;
  font-size: 4em !important;
  -webkit-animation: "fader" 3s;
          animation: "fader" 3s;
}
#intro-page p {
  font-family: FtPilKahol2 !important;
}

.move-to-left-effect {
  -webkit-animation: "moveToLeftFade" 1s ease-out;
          animation: "moveToLeftFade" 1s ease-out;
}

@-webkit-keyframes moveToLeftFade {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes moveToLeftFade {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#main-page {
  height: 100vh;
  width: 100vw;
  position: relative;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.fader-div {
  -webkit-animation: "fade";
          animation: "fade";
}

.logos {
  max-width: 5em !important;
  max-height: 5em !important;
}
.logos img {
  margin: 0 2em;
}

#header-section-text {
  z-index: 1000;
  font-size: 1.5em !important;
}

.header-text {
  z-index: 1000;
  flex-wrap: wrap !important;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  position: relative;
}
.header-text p {
  position: absolute;
  right: 10vw !important;
}

#circle1 {
  background-image: url("./images/planets.png");
  position: absolute;
  top: -2em !important;
  left: 8em !important;
  display: block;
  background: black;
  border-radius: 50%;
  height: 12em;
  width: 12em;
  margin-left: 1em;
  margin-right: 1em;
  background: radial-gradient(circle at 100px 100px, #4D230D, #080B0D);
  transform-style: preserve-3d !important;
  -webkit-animation: "anim2" 4s;
          animation: "anim2" 4s;
}

#circle2 {
  position: absolute;
  top: 2em !important;
  left: 13em !important;
  display: block;
  background: black;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  margin: 0;
  background: radial-gradient(circle at 100px 100px, #AA574D, #F45C2D);
  transform-style: preserve-3d !important;
  box-shadow: 0 0 60px rgba(170, 86, 77, 0.5411764706);
  -webkit-animation: "anim" 3s linear infinite;
          animation: "anim" 3s linear infinite;
}

#intoText {
  position: absolute;
  top: 5em;
  left: 30%;
}

#middle-section {
  z-index: 1000;
  width: 70vw;
  text-align: right !important;
  margin: 2em auto !important;
  position: absolute !important;
  right: 10vw !important;
  -webkit-animation: "growUpandMove" 1s forwards;
          animation: "growUpandMove" 1s forwards;
}

.main-title {
  font-family: FtPilKahol2 !important;
}

#large-main-title {
  font-weight: bold;
  font-size: 3em !important;
}

#small-main-title {
  font-weight: semi-bold;
  font-size: 2.5em !important;
  margin-top: -2em !important;
}

#bottom-section {
  position: fixed !important;
  bottom: 0 !important;
}

#bottom-img {
  height: 100% !important;
  width: 100% !important;
  position: relative;
  -webkit-animation: "move" 1s linear;
          animation: "move" 1s linear;
  z-index: -5 !important;
}

#section-fourth {
  margin-top: -2em !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-fourth img {
  width: 7em !important;
  height: 7em !important;
}

#bottom-building-img {
  width: 500px;
  position: absolute;
  right: -5em !important;
  bottom: -4em !important;
  -webkit-animation: "scaleUp" 3s forwards;
          animation: "scaleUp" 3s forwards;
}/*# sourceMappingURL=styling.css.map */